* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    scroll-behavior: inherit;
}
/* .bg_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url("/img/bg4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 80px 100px 0;
    z-index: -1;
    filter: blur(3px);
} */